/*common*/

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.inner {
  margin: 0 auto;
  width: 1100px;
  text-align: center;
}

.body {
  font-family: Lato;
}

/*header*/

.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 1;
}

.header-inner {
  padding: 15px 0;
}

.header-icon {
  color: #333;
  float: left;
  font-size: 3em;
}

.header-contact {
  float: right;
  text-align: center;
  font-size: 12px;
}

.header-button {
  display: block;
  background-color: #74cfae;
  color: #fff;
  padding: 14px 12px;
  transition: all 0.3s;
  text-decoration: none;
}

.header-sp {
  display: none;
  padding: 10px;
  color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 2em;
}

.header-button:hover {
  color: #333;
}

/*main*/
.main {
  padding-top: 78px;
}

.main-title {
  background-color: #f2f2f2;
  text-align: center;
  width: 100%;
  padding: 250px 0;
}

.title-text h1 {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
}

.title-text p {
  font-size: 30px;
  color: #c0c0c0;
}

.main-contents-section {
  width: 100%;
  background-color: #74cfae;
  padding-top: 50px;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section-text {
  width: 80%;
  color: #fff;
}

.main-section-img {
  margin-right: 100px;
  width: 20%;
}

.main-section-text-title {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 35px;
}

.main-section-text p {
  font-size: 20px;
}

.main-contents-article {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 70px;
}

.article-text-title {
  font-family: Raleway;
  color: #333;
  text-align: center;
  font-size: 24px;
}

.article-picture {
  margin-top: 40px;
  font-size: 0;
}

.img_margin a {
  display: inline-block;
  margin: 0 0 0 100px;
  opacity: 0.7;
  transition: all 0.3s;
}

.img_margin a:hover {
  opacity: 1;
}

.img_margin a:nth-child(3n + 1) {
  margin-left: 0;
}

.img_margin a:nth-of-type(n + 4) {
  margin-top: 80px;
}

.article-foot {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  align-items: center;
}

.article-foot-text {
  color: #333;
  width: 540px;
  margin-right: 90px;
}

.article-foot-btn {
  width: 75px;
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
}

.article-foot-btn:hover {
  color: #333;
}

.sub-main-contents-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}

.section_sub_text {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 60px;
}

.section_sub_picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_sub_picture div {
  margin-left: 180px;
}

.section_sub_picture p {
  margin-top: 20px;
}

.section_sub_picture :first-child {
  margin-left: 0;
}

.section_sub_text {
  color: #fff;
}

.section_sub_picture p {
  font-size: 16px;
  color: #fff;
}

.sns_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  padding: 200px 0;
}

.sns-icon {
  cursor: pointer;
  font-size: 3em;
  width: 185px;
  padding: 30px 0;
  transition: all 0.3s;
  color: #74cfae;
  text-decoration: none;
}

.sns-icon:hover {
  background-color: #fff;
  transition: all 0.3s;
}
/*footer*/

.footer {
  background-color: #74cfae;
  width: 100%;
}

.footer-text {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 25px;
  color: #fff;
}

/*レスポンシブ対応PC*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  /*what we can do?*/

  .main-section {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  .main-section-img {
    margin-right: 0;
    width: 100%;
  }
  .main-section-text {
    width: 100%;
    color: #fff;
    display: inline-block;
    width: 82%;
  }
  .main-section-text-title {
    font-family: Raleway;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  .main-section-text p {
    font-size: 20px;
  }

  .img_margin a {
    width: 100%;
    display: inline-block;
    margin: 0 0 0 0;
    opacity: 0.7;
    transition: all 0.3s;
  }
  .img_margin a:hover {
    opacity: 1;
  }
  .img_margin a:nth-child(3n + 1) {
    margin-left: 0;
  }
  .img_margin a:nth-of-type(n + 4) {
    margin-top: 0px;
  }
  .img_margin a:nth-of-type(4) {
    margin-top: 80px;
  }
  .article-foot {
    display: block;
    text-align: center;
    margin-top: 80px;
  }
  .article-foot-text {
    display: inline-block;
    text-align: center;
    color: #333;
    width: 100%;
    margin-right: 0;
    margin-bottom: 60px;
  }
  .article-foot-btn {
    display: inline-block;
    width: 20%;
    padding: 14px 20px;
    color: #fff;
    background-color: #74cfae;
    text-decoration: none;
  }
  .sub-main-contents-section {
    padding-bottom: 50px;
  }
  .section_sub_picture {
    display: block;
  }
  .section_sub_picture div {
    margin-left: 0;
  }
  .section_sub_picture p {
    margin-top: 20px;
    margin-bottom: 88px;
  }
  .section_sub_picture :first-child {
    margin-left: none;
  }
}

/*レスポンシブ対応SP*/

@media screen and (max-width: 767px) {
  .inner {
    width: 97%;
  }

  /*header*/
  .header-button {
    display: none;
  }
  .header-sp {
    display: inline-block;
  }

  /*bolt Theme*/
  .main-title {
    padding-top: 160px;
    padding-bottom: 130px;
  }
  .title-text h1 {
    font-size: 80px;
    margin-bottom: 20px;
    color: #74cfae;
  }

  /*WHAT WE CAN DO?*/
  .main-section {
    display: inline-block;
    padding-bottom: 30px;
  }
  .main-section-img {
    margin-right: 0;
    width: 100%;
  }
  .main-section-text {
    width: 82%;
    display: inline-block;
  }
  .main-section-text-title {
    font-family: Raleway;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  .main-section-text p {
    font-size: 20px;
  }

  /*OUR LATEST WORK*/
  .img_margin a {
    width: 100%;
    display: inline-block;
    margin: 0 0 0 0;
    opacity: 0.7;
    transition: all 0.3s;
  }
  .img_margin a:hover {
    opacity: 1;
  }
  .img_margin a:nth-child(3n + 1) {
    margin-left: 0;
  }
  .img_margin a:nth-of-type(n + 4) {
    margin-top: 0px;
  }
  .img_margin a:nth-of-type(4) {
    margin-top: 80px;
  }
  .article-foot {
    display: block;
  }
  .article-foot-text {
    display: inline-block;
    width: 77%;
    margin-right: 0;
    margin-bottom: 60px;
  }
  .article-foot-btn {
    display: inline-block;
    width: 28%;
  }

  /*OUR SKILLS*/
  .sub-main-contents-section {
    width: 100%;
    padding-bottom: 50px;
  }
  .section_sub_picture {
    display: block;
  }
  .section_sub_picture div {
    margin-left: 0;
  }
  .section_sub_picture p {
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .section_sub_picture :first-child {
    margin-left: none;
  }

  /*sns*/
  .sns_contents {
    display: block;
    padding: 50px 0;
    box-sizing: border-box;
  }
  .sns-icon {
    font-size: 3em;
    width: 100%;
  }
}
