/*common*/

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.inner {
  margin: 0 auto;
  width: 1100px;
  text-align: center;
}

.body {
  font-family: Lato;
}

/*header*/

.header {
  position: fixed;
  height: 80px;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 10;
}

.header-inner {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-icon {
  color: #333;
  float: left;
  font-size: 3em;
}

.header-contact {
  float: right;
  text-align: center;
  font-size: 12px;
}

.header-button {
  display: block;
  background-color: #74cfae;
  color: #fff;
  padding: 14px 12px;
  transition: all 0.3s;
  text-decoration: none;
}

.header-button:hover {
  color: #333;
}

/*main*/

.main-title {
  background-color: #f2f2f2;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  padding-top: 250px;
  padding-bottom: 250px;
}

.title-text h1 {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
}

.title-text h2 {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.main-contents-section {
  width: 100%;
  background-color: #74cfae;
  padding-top: 50px;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section-text {
  font-family: Raleway;
  width: 70%;
  color: #fff;
}

.main-section-img {
  margin-right: 100px;
  width: 30%;
}

.main-section-text-title {
  font-size: 24px;
  margin-bottom: 35px;
}

.main-section-text p {
  font-size: 20px;
}

.main-contents-article {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  width: 100%;
}

.article-text-title {
  font-family: Raleway;
  color: #333;
  text-align: center;
  margin-top: 60px;
  font-size: 24px;
}

.article-picture {
  margin-top: 40px;
  font-size: 0;
}

.img_margin a {
  display: inline-block;
  margin: 0 0 80px 100px;
  opacity: 0.7;
  transition: all 0.3s;
}

.img_margin a:hover {
  opacity: 1;
}

.img_margin a:nth-child(3n + 1) {
  margin-left: 0;
}

.img_margin a:nth-of-type(n + 4) {
  margin-bottom: 0px;
}

.article-foot {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 70px;
  align-items: center;
}

.article-foot-text p {
  color: #333;
  width: 540px;
  margin-right: 90px;
}

.article-foot-btn {
  width: 75px;
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
}

.sub-main-contents-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}

.section_sub_text p {
  font-size: 24px;
  margin-bottom: 60px;
}

.section_sub_picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_sub_picture div {
  margin-left: 180px;
}

.section_sub_picture p {
  margin-top: 20px;
}

.section_sub_picture :nth-child(1) {
  margin-left: 0;
}

.section_sub_text {
  color: #fff;
}

.section_sub_picture p {
  font-size: 16px;
  color: #fff;
}

.sns_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns-icon {
  cursor: pointer;
  cursor: hand;
  font-size: 3em;
  width: 185px;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: all 0.3s;
  color: #74cfae;
  text-decoration: none;
}

.sns-icon:hover {
  background-color: #fff;
}
/*footer*/

.footer {
  background-color: #74cfae;
  width: 100%;
}

.footer-text {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 25px;
  color: #fff;
}
